<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <script>
      function getProperty() {
        var dropdown = document.getElementById("dropdown");
        var selectedOption = dropdown.options[dropdown.selectedIndex].value;
        window.location.href = selectedOption;
      }
    </script>
    <title>Home Page</title>
  </head>
  <body>
    <nav class="logo">
      <a href="/api/apts">
        <img src="/logo/logotipo.svg" />
      </a>
    </nav>
    <div class="banner"></div>
    <div class="container">
      <p class="text">Selecione o imóvel desejado</p>
      <div class="search">
        <div>
          <form name="properties" action="/property.ejs">
            <select name="properties" id="dropdown" class="select">
              <option disabled selected hidden class="select-text">
                Selecione
              </option>
              <% for(let i=0;i<data.length/2;i++) { %>
              <option value="/api/apts/<%= data[i].idOportunidade %>">
                Cód: <%= data[i].idOportunidade %> - <%= data[i].titulo %>
              </option>
              <% } %>
            </select>
          </form>
        </div>
        <div>
          <button class="button" onclick="getProperty()">Ver imóvel</button>
        </div>
      </div>
    </div>
  </body>
</html>
